.CardImage {
    overflow: hidden;
}

.CardImage > img {
    max-width: 100%;
    max-height: 100%;
}

.CardsMenu {
    height: auto;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hidden {
    display: none;
}

.Card {
    border: 1px solid rgba(55, 75, 236, 0.62);
    margin: 10px;
}

.Card:hover {
    background-color: #89fff8;
}

.Card:hover img {
    transform:scale(1.05);
    transition: transform .3s

}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}