.App{

}

.Header{
    background-color: #88888d;
}

.Filter{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.Search{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
